{% extends 'dentist_app/base.html' %}
{% load static %}


{% block title %}
  Dentures - Services & Pricing
{% endblock %}


{% block content %}
    <div class="site-blocks-cover overlay" style="background-image: url({% static 'dentist_app/images/hero_1.jpg' %});">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-7 mx-auto text-center">
            <h1>Our Services & Pricing</h1>
            <p>Checkout Out the Services we provide at Dentures and Pricing for each of those services for a better understanding of what we offer and for how much.</p>
            <p>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-block-1">
      <div class="container">
      <div class="row mb-5 justify-content-center">
          <div class="col-md-6 text-center">
            <h2 class="text-black mb-5">Services <strong>We Offer</strong></h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-6 col-lg-4">
            <div class="site-block-feature d-flex p-4 rounded mb-4">
              <div class="mr-3">
                <div class="wrap-icon">
                  <span class="icon flaticon-tooth font-weight-light text-black h2"></span>
                </div>
              </div>
              <div class="text">
                <h3>Periontodology</h3>
                <p>Fix the structure of your teeth with our Periontodology services.</p>
                <hr>
              </div>
            </div>   
          </div>
          <div class="col-6 col-md-6 col-lg-4">
            <div class="site-block-feature d-flex p-4 rounded mb-4">
              <div class="mr-3">
                <div class="wrap-icon">
                  <span class="icon flaticon-tooth-whitening font-weight-light text-black h2"></span>
                </div>
              </div>
              <div class="text">
                <h3>Tooth Whitening</h3>
                <p>Yellow Tooth? Well, that's natural, don't worry we offer Tooth whitening services at Dentures.</p>
                <hr>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-4">
            <div class="site-block-feature d-flex p-4 rounded mb-4">
              <div class="mr-3">
                <div class="wrap-icon">
                  <span class="icon flaticon-tooth-pliers font-weight-light text-black h2"></span>
                </div>
              </div>
              <div class="text">
                <h3>Preventive Care</h3>
                <p>Don't leave your teeth unhealthy, Dentures offers services for Preventive Care for your teeth. </p>
                <hr>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-4">
            <div class="site-block-feature d-flex p-4 rounded mb-4">
              <div class="mr-3">
                <div class="wrap-icon">
                  <span class="icon flaticon-stethoscope font-weight-light text-black h2"></span>
                </div>
              </div>
              <div class="text">
                <h3>Stethoscope</h3>
                <p>Not just teeth, ensure your overall health with our Stethoscope services.</p>
                <hr>
              </div>
            </div>   
          </div>
          <div class="col-6 col-md-6 col-lg-4">
            <div class="site-block-feature d-flex p-4 rounded mb-4">
              <div class="mr-3">
                <div class="wrap-icon">
                  <span class="icon flaticon-first-aid-kit font-weight-light text-black h2"></span>
                </div>
              </div>
              <div class="text">
                <h3>First Aid Kit</h3>
                <p>Dentures also offers First Aid Services for an emergency situation.</p>
                <hr>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-4">
            <div class="site-block-feature d-flex p-4 rounded mb-4">
              <div class="mr-3">
                <div class="wrap-icon">
                  <span class="icon flaticon-brackets font-weight-light text-black h2"></span>
                </div>
              </div>
              <div class="text">
                <h3>Tooth Brace</h3>
                <p>Fix the alignment of you teeth with our Tooth Brace Services.</p>
                <hr>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    
                                                                                                                                                                                          
       <div class="site-block-1">
        <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-6 text-center">
            <h2 class="text-black mb-5">Services <strong>Pricing</strong></h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-6 col-lg-4">
            <div class="site-block-feature d-flex p-4 rounded mb-4">
              <div class="mr-3">
                <div class="wrap-icon">
                  <span class="icon flaticon-tooth font-weight-light text-black h2"></span>
                </div>
              </div>
              <div class="text">
                <h3>Periontodology</h3>
                <p>Price: $30</p>
                <hr>
              </div>
            </div>   
          </div>
          <div class="col-6 col-md-6 col-lg-4">
            <div class="site-block-feature d-flex p-4 rounded mb-4">
              <div class="mr-3">
                <div class="wrap-icon">
                  <span class="icon flaticon-tooth-whitening font-weight-light text-black h2"></span>
                </div>
              </div>
              <div class="text">
                <h3>Tooth Whitening</h3>
                <p>Price: $40</p>
                <hr>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-4">
            <div class="site-block-feature d-flex p-4 rounded mb-4">
              <div class="mr-3">
                <div class="wrap-icon">
                  <span class="icon flaticon-tooth-pliers font-weight-light text-black h2"></span>
                </div>
              </div>
              <div class="text">
                <h3>Preventive Care</h3>
                <p>Price: $60</p>
                <hr>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-4">
            <div class="site-block-feature d-flex p-4 rounded mb-4">
              <div class="mr-3">
                <div class="wrap-icon">
                  <span class="icon flaticon-stethoscope font-weight-light text-black h2"></span>
                </div>
              </div>
              <div class="text">
                <h3>Stethoscope</h3>
                <p>Price: $20</p>
                <hr>
              </div>
            </div>   
          </div>
          <div class="col-6 col-md-6 col-lg-4">
            <div class="site-block-feature d-flex p-4 rounded mb-4">
              <div class="mr-3">
                <div class="wrap-icon">
                  <span class="icon flaticon-first-aid-kit font-weight-light text-black h2"></span>
                </div>
              </div>
              <div class="text">
                <h3>First Aid Kit</h3>
                <p>Price: $20</p>
                <hr>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-4">
            <div class="site-block-feature d-flex p-4 rounded mb-4">
              <div class="mr-3">
                <div class="wrap-icon">
                  <span class="icon flaticon-brackets font-weight-light text-black h2"></span>
                </div>
              </div>
              <div class="text">
                <h3>Tooth Brace</h3>
                <p>Price: $55</p>
                <hr>
              </div>
            </div>
          </div>

          

        </div>
      </div>
    </div>
{% endblock %}